* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(42, 44, 42);
}

.main {
  margin: 30vh auto;
  border: 1px solid black;
  background-color: white;
  color: black;
  width: 70vw;
  height: 35vh;
}

.gender {
  display: inline-flex;
}

h1 {
  text-align: center;
  margin: 10px auto;
}

label {
  margin-left: 5px;
}

.gender p {
  margin-left: 5px;
}

.calories-result h4 {
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
}

.gender,
.age,
.weight,
.height,
.activity {
  margin-top: 10px;
}

.age input {
  margin-left: 50px;
}

.gender label {
  margin-left: 40px;
}

.gender input {
  margin-left: 5px;
  margin-top: 2px;
}

#weight,
#height {
  margin-left: 30px;
}

#weight,
#height,
#age {
  width: 42vw;
}

#activity {
  margin-left: 22px;
}

#weight:focus,
#height:focus,
#age:focus {
  background-color: cyan;
}

button {
  margin: 15px 30vw;
}

.calories-result p {
  width: 30vw;
  height: 25px;
  background-color: darkgrey;
  color: black;
  text-align: center;
  margin: 10px auto;
}

@media (max-height: 700px) {
  .main {
    height: 70vh;
  }
}

@media (min-width: 500px) {
  .main {
    width: 70vw;
    height: 40vh;
  }
}

@media (min-width: 700px) and (max-width: 1440px) {
  .main {
    width: 55vw;
    height: 40vh;
  }
}
